<html>
<head>
{% load static %}
  <script src="{% static 'vue.js' %}"></script>
  <script src="//unpkg.com/element-ui/lib/index.js"></script>
  <style>
  @import url("//unpkg.com/element-ui/lib/theme-default/index.css");
.my-autocomplete {
  li {
    line-height: normal;
    padding: 7px;

    .name {
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .addr {
      font-size: 12px;
      color: #b4b4b4;
    }

    .highlighted .addr {
      color: #ddd;
    }
  }
}
  </style>
</head>
<body>
{% verbatim %}
  <div id="app">
    <item-todo></item-todo>
    <input type="text" id="e1" value=""/>
    <button v-on:click="add">添加</button>
    <ol>
      <li v-for="(item, index) in items" :key="index" v-if="item.isDisplay">
        {{ item.content }}<input type="checkbox" @click='item.isDisplay = false'>
      </li>
    </ol>
    <show></show><hide></hide>
  </div>
{% endverbatim %}
<table summary="urlbuilder统计报告" border="1" style="border-collapse: collapse" >
  <caption>urlbuilder统计报告</caption>
  <tbody>
    <tr>
      <th>序号</th>
      <th>项目名称</th>
      <th>push时间间隔</th>
      <th>最后一次push时间</th>
    </tr>
    <tr>
      <td>1</td>
      <td>天天</td>
      <td>2016-08-09</td>
      <td>2044-09-12</td>
    </tr>
  </tbody>
</table>
  <script src='{% static "handle.js" %}'></script>
</body>
</html>
