{% extends 'repo/init.html' %}
{% block content %}
  <template>
    <parents-com parents="father"></parents-com>
  </template>
{% endblock %}
{% block scripts %}
  new Vue.component('child-com', {
      props: ['path'],
      template: `<div>
                   {{ path }}
                   <slot>Slot的内容</slot>
                </div>`
      
    })
  new Vue.component('parents-com', {
      props: ['parents'],
      template: `<div>
                   {{ parents }}
                   <child-com path="file"></child-com>
                 </div>`
    })
{% endblock %}
